/*
CFD css
*/

body {
	font-size:80%;
	padding:0px;
	margin:0px;
}

h1 {
	margin:5px;
}

h2 {
	background-color: #ffb;
}
p {
	margin-top:5px;
	margin-bottom:3px;
}

div#graphs{
	position:relative;
	left:-15px;
}

div.field{
	float:left;
	display:inline-table;
	width:68%;
	min-width:605px;
	height:950px;
	background-color:#ddd;
	position: relative;
}


div.control{
	display:inline-table;
	width:28%;
	min-width:200px;
	height:400px;
	background-color:#bff;
}

input[type="text"] {
	width:6em;
	text-align:right;
}

.hide {
	display:none;
}

div.wall{
	width:400px;
	height:400px;
	background-color:#fff;
	position: absolute;
	left:-80px;
	top:180px;
	transform: matrix(0.5, -0.5, 0, 1, 0, 0);
	z-index:880;
	opacity:0.6;
}

div.wall_base{
	width:400px;
	height:400px;
	background-color:#fff;
	position: absolute;
	left:-80px;
	top:180px;
	transform: matrix(0.5, -0.5, 0, 1, 0, 0);
}

div.wall2{
	width:400px;
	height:400px;
	background-color:#fff;
	position: absolute;
	left:220px;
	top:80px;
	z-index:920;
	opacity:0.6;

}

div.wall2_base{
	width:400px;
	height:400px;
	background-color:#fff;
	position: absolute;
	left:220px;
	top:80px;
}

div.floor{
	width:400px;
	height:400px;
	background-color:#fff;
	position: absolute;
	left:120px;
	top:380px;
	transform: matrix(1, 0, -0.5, 0.5, 0, 0);
	z-index:850;
	opacity:0.6;

}

div.floor_base{
	width:400px;
	height:400px;
	background-color:#fff;
	position: absolute;
	left:120px;
	top:380px;
	transform: matrix(1, 0, -0.5, 0.5, 0, 0);
}
div.walltitle {
	font-size:150%;
}

#windowset {
    width: 180px;
    height: 250px;
	top: 100px;
	left: 100px;
    padding: 0px;
	background-color:#EFF;
    margin: 0;
    border-radius: 10px;
	border:2px;
	position: absolute;
}
#byobu {
    width: 180px;
    height: 60px;
    padding: 0px;
	background-color:#FFF;
    margin: 0;
    border-radius: 10px;
	left:250px;
	top:450px;
	border:2px;
	position: absolute !important;
}
#graph {
	float:none;
	position: absolute;
	pointer-events: none;
}
#graph2 {
	float:none;
	position: absolute;
	left: 0px;
	pointer-events: none;
}
#graph3 {
	float:none;
	position: absolute;
	pointer-events: none;
}

.setting, .vresult{
	float:none;
	position: absolute;
}

.setting {
	opacity: 0.8;
}

/*タブ*/
div.tab{
	padding-left:10px;
}
div.tab span {
	display:inline;
	padding:5px;
	margin-top:5px;
	background-color: #ddf;
	color:#000;
	cursor:pointer;
}

div.tab span.selected {
	background-color: #22f;
	margin-top:0px;
	padding-top:10px;
	color:#fff;
}

div.tab span:hover {
	background-color: #22f;
	margin-top:0px;
	padding-top:10px;
}

input[type="button"] {
	background-color:#ddd;
	cursor: pointer;
}
input[type="button"].select{
	background-color:#5f5;
}


